<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [ngModel]="alumno.nombre" (ngModelChange)="alumno.nombre = $event" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha Nacimiento</ion-label>
      <ion-input [ngModel]="alumno.fecha_nacimiento" (ngModelChange)="alumno.fecha_nacimiento = $event"
        required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre Padre</ion-label>
      <ion-input [ngModel]="alumno.nombre_padre" (ngModelChange)="alumno.nombre_padre = $event" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre Madre</ion-label>
      <ion-input [ngModel]="alumno.nombre_madre" (ngModelChange)="alumno.nombre_madre = $event" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Grado</ion-label>
      <ion-input [ngModel]="alumno.grado" (ngModelChange)="alumno.grado = $event" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Sección</ion-label>
      <ion-input [ngModel]="alumno.seccion" (ngModelChange)="alumno.seccion = $event" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha Ingreso</ion-label>
      <ion-input [ngModel]="alumno.fecha_ingreso" (ngModelChange)="alumno.fecha_ingreso = $event" required></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="guardarAlumno()">Guardar</ion-button>
  <ion-button expand="full" color="light" routerLink="/home">Cancelar</ion-button>
  <ion-alert [isOpen]="isAlertOpen" header="Errores" [message]="errorMessages" [buttons]="alertButtons"
    (didDismiss)="setOpen(false)"></ion-alert>

</ion-content>