<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Alumnos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>
      <h2>Filtrar por grado</h2>
      <div>
        <ion-input [ngModel]="gradeFilter" (ngModelChange)="gradeFilter = $event"
          placeholder="Digita un grado, ejem: 1,2,4,5"></ion-input>
      </div>
      <ion-button (click)="filterByGrade()">Filtrar</ion-button>
    </ion-label>

  </ion-item>
  <ion-list>
    <ion-item *ngFor="let alumno of alumnos">
      <ion-label>
        <h2>{{ alumno.nombre }}</h2>
        <p>fecha_nacimiento: {{ alumno.fecha_nacimiento}}</p>
        <p>Nombre Padre: {{ alumno.nombre_padre}}</p>
        <p>Nombre Madre: {{ alumno.nombre_madre}}</p>
        <p>Grado: {{ alumno.grado}}</p>
        <p>Seccion: {{ alumno.seccion}}</p>
        <p>Fecha Ingreso: {{ alumno.fecha_ingreso}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/crear-alumno">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>